@charset "UTF-8";

*
{
	box-sizing: border-box;
	font-family: Meiryo, sans-serif;
}

html
{
	height: 100%;
}

table
{
	border-collapse: collapse;
}

th, td
{
	border: 1px solid silver;
}

th
{
	background-color: #4caf50;
	color: white;
	font-weight: normal;
}

.loading
{
	cursor: wait;
}

[data-state]
{
	display: none;
}

[data-image-zoom]
{
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
}

[data-image-zoom] img
{
	height: 100%;
}

#error_message
{
	font-weight: bold;
	color: red;
}

.circle_star input[type="checkbox"]
{
	display: none;
}

.circle_star input[type="checkbox"] + span::after
{
	font-size: 1.5rem;
	content: '☆';
	color: silver;
	cursor: pointer;
}

.circle_star input[type="checkbox"]:checked + span::after
{
	content: '★';
	color: gold;
}

.circle_cut
{
	max-width: 7rem;
	height: 10rem;
	vertical-align: top;
	cursor: zoom-in;
}

.circle_space
{
	display: inline-block;
	padding: 0.1rem 0.4rem;
	border-radius: 0.8rem;
	white-space: nowrap;
	text-decoration: none;
	background-color: #4caf50;
	color: white;
}

.circle_genre
{
	white-space: nowrap;
}