@charset "UTF-8";

*
{
	box-sizing: border-box;
	font-family: Meiryo, sans-serif;
}

html
{
	height: 100%;
}

table
{
	border-collapse: collapse;
}

th, td
{
	border: 1px solid silver;
}

th
{
	white-space: nowrap;
	background-color: #4caf50;
	color: white;
	font-weight: normal;
}

.loading
{
	cursor: wait;
}

[data-state]
{
	display: none;
}

[data-preview-image="container"]
{
	right: 0;
	top: 0;
	height: 100%;
}

[data-preview-image="content"]
{
	right: 0;
	top: 0;
	height: 100%;
}

#error_message
{
	font-weight: bold;
	color: red;
}

[data-circle-search] ul
{
	padding: 0;
	list-style-type: none;
}

[data-circle-search] li
{
	display: inline;
	margin-left: 2rem;
}

[data-circle-search] li:first-of-type
{
	margin-left: 0;
}

.circle_star input[type="checkbox"]
{
	display: none;
}

.circle_star input[type="checkbox"] + span::after
{
	font-size: 1.5rem;
	color: #ffc107;
	cursor: pointer;
	content: '☆';
}

.circle_star input[type="checkbox"]:checked + span::after
{
	content: '★';
}

.circle_cut
{
	max-width: 7rem;
	height: 10rem;
	vertical-align: top;
	cursor: zoom-in;
}

.circle_space
{
	display: inline-block;
	padding: 0rem 0.4rem;
	border-radius: 0.8rem;
	white-space: nowrap;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.circle_genre
{
	white-space: nowrap;
}

.circle_detail
{
	white-space: pre-wrap;
}